<div ng-controller="HomeCtrl as controller">
    <videogular vg-responsive="controller.config.responsive" 
                vg-stretch="controler.config.stretch"
                vg-auto-play="controller.config.autoPlay" 
                vg-player-ready="controller.onPlayerReady($API)" 
                vg-complete="controller.onCompleteVideo()" 
                vg-theme="controller.config.theme.url">

        <vg-media id="videogular-media" 
                  vg-volume="controller.config.volume"
                  vg-loop="controller.config.loop" 
                  vg-src="controller.config.sources"
                  vg-tracks="controller.config.tracks">
        </vg-media>

        <vg-buffering></vg-buffering>

        <div class="custom-layer">
            <form name="upload" class="form" ng-controller="FormCtrl as formctrl">
                <input class="uploadButton" value="Upload" type="button" onclick="$('input[type=file]').click()" />
                <input class="hidden-xs hidden-sm hidden-md hidden-lg" type="file" name="file" ng-model="videonew" onchange="angular.element(this).scope().uploadedFile(this)" />
            </form>
        </div>
    </videogular>
</div>
<!-- controller -->