<script>
    var test = function(filename,data){
        // Set up the link
        var link = document.getElementById("videoEntryPub").createElement("a");
        link.setAttribute("target","_blank");
        if(Blob !== undefined) {
            var blob = new Blob([text], {type: "text/plain"});
            link.setAttribute("href", URL.createObjectURL(blob));
        } else {
            link.setAttribute("href","data:text/plain," + encodeURIComponent(text));
        }
        link.setAttribute("download",filename);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>


    <div class="mgmt-block">
        <h2 style="color:white;">Pagina di amministrazione</h2>
        <div ng-controller="StreamCtrl" id="mgmtPage">
            <!--<section id="main">-->
            <section id="main">
                <fieldset>
                    <legend style="color:white;">Drag n Drop</legend>
                    <aside id="uploadbox">
                        <article id="progress">Drop file here</article>
                    </aside>
                </fieldset>

                <div ng-show="videoplaying">
                    <fieldset>
                        <legend>Play the Video</legend>
                        
                        <section class="left">
                            <button type="button" class="btn btn-default btn-rounded" style="background-color:black;color:white;margin-bottom:10px;" ng-click="closeVideoBox(this)">Close</button>
                            <video id="videomgmt" width="800" height="600" controls autoplay>
                            </video>
                        </section>
                    </fieldset>
                </div>
            </section>
            <br />
            <div class="row">
                
                <table class="table table-hover table-condensed">
                    <th style="color:white">Lista di video in upload non ancora pubblicati</th>
                    <tr class="videolist" ng-repeat="videoEntry in uploadedVideos">
                        <td hidden>{{videoEntry.id}}</td>
                        <td>{{videoEntry.title}} by {{videoEntry.username}} from {{videoEntry.userlocation}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="playvideo(videoEntry)">View</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="approvevideo(videoEntry)">Approve</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deletevideo(videoEntry)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div class="row">
                <table class="table table-hover table-condensed">
                    <th style="color:white">Lista di video pubblicati</th>
                    <a style="display:none" href="" id="lnkDownload">link</a>
                    <tr class="videolist" ng-repeat="videoEntry in publishedVideos">
                        <!--                <td>{{videoEntry.id}}</td>-->
                        <td>{{videoEntry.title}}</td>
                        <td id="videoEntryPub"></td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="playpubvideo(videoEntry)">View</button>
                        </td>
                        <td>
<!--                            <button type="button" class="btn btn-success" ng-click="downloadpubvideo(videoEntry)">Download</button>-->
                            <button type="button" class="btn btn-success" ng-click="downloadpubvideo(videoEntry)">Download</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deletepubvideo(videoEntry)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
