<div class="container" >
    <div class="profile-container" >
        <br />
        <h1><b>Contacts</b></h1>
        <br />
        <div class="row">
            <div class="col-sm-6">

                <div class="name-location"><strong>Sara Ricciardi</strong> <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=Milano">Milano,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                </div>
                <div class="clearfix margin-bottom-20"></div>
                <p>Lorem Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="name-location"><strong>Rivista Musei</strong> <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=L%27Aquila">L'Aquila,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                    <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                    <div class="name-location"><strong>Manuel Morini</strong> <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=Roma">Roma,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                    <hr>
            </div>
        </div>
    </div>
</div>