<script type="text/javascript">
    function split_mail(divid, user, domain, tld) {
        var mail = '';
        mail += '<a href="' + 'ma' + 'il' + 'to:' + user;
        mail += '&#64;' + domain + '.' + tld;
        mail += '">' + user + '&#64;' + domain + '.' + tld + '<' + '/a>';

        $('#'+divid).html(mail);

    }

    split_mail('saramailbox','sara','sararicciardi','org');

</script>

<div class="container" >
    <div class="profile-container" >
        <br />
        <br />
        <div class="row">
            <div class="col-xs-12">

                <div class="name-location"><p class="contactheading">SARA RICCIARDI</p><span>
                </div>
                <div class="clearfix margin-bottom-20"></div>
                <p class="contactdesc">
                    <a href="www.sararicciardi.org">www.sararicciardi.org</a>
                    <br> <div class="contactdesc" id="saramailbox"></div>
                    <br> +39 3271638680
                    <br> <br>
Born in Benevento / Italy / 26 years ago/eating pomegranates/drawings on walls/running in the fields/stories of witches/Greek and street theatre/Classic High School/unexpected meeting/Milan/NABA univeristy/raging curiosity/incomparable nocturnal coffee/researcher of possibility/new life in Turkey/daily loves/NYC master studies/working hard/set design/cocept&brainstorming/products development/art residencies/co-founder at LA LATTONERIA/Social design teacher at NABA/busy 24 hrs a day in following building up new visions.</p>

            </div>
        </div>

<!--
        <div class="row">
            <div class="col-sm-6">
                <div class="name-location"><p class="contactheading">Rivista Musei</p> <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=L%27Aquila">L'Aquila,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <p class="contactdesc">Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                    <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                    <div class="name-location"><p class="contactheading">Manuel Morini</p> <span><a href="http://maps.google.com/?q=Roma">Roma,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <p class="contactdesc">Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                    <hr>
            </div>
        </div>
-->
    </div>
</div>
