
<div class="profile-container">
  <div class="col-xs-6">
    <div class="panel panel-profile">
        <div class="panel-heading">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-tasks"></i>Contacts</h2>           
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="profile-blog blog-border">
<!--                        <img class="rounded-x" src="http://bootdey.com/img/Content/user_2.jpg" alt="">-->
                        <div class="name-location">
                            <strong>Sara Ricciardi</strong>
                            <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=Milano">Milano,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                        </div>
                        <div class="clearfix margin-bottom-20"></div>    
                        <p>Lorem Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                        <hr>
                        
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="profile-blog blog-border">
<!--                        <img class="rounded-x" src="http://bootdey.com/img/Content/user_1.jpg" alt="">-->
                        <div class="name-location">
                            <strong>Rivista Musei</strong>
                            <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=L%27Aquila">L'Aquila,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                        </div>
                        <div class="clearfix margin-bottom-20"></div>    
                        <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                        <hr>
                        
                    </div> 
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="profile-blog blog-border">
<!--                        <img class="rounded-x" src="http://bootdey.com/img/Content/user_1.jpg" alt="">-->
                        <div class="name-location">
                            <strong>Manuel Morini</strong>
                            <span><i class="fa fa-map-marker"></i><a href="http://maps.google.com/?q=Roma">Roma,</a> <a href="http://maps.google.com/?q=Italia">IT</a></span>
                        </div>
                        <div class="clearfix margin-bottom-20"></div>    
                        <p>Donec non dignissim eros. Mauris faucibus turpis volutpat sagittis rhoncus. Pellentesque et rhoncus sapien, sed ullamcorper justo.</p>
                        <hr>
                        
                    </div> 
                </div> 
            </div>
        </div>        
    </div>    
  </div>
</div>