<script>
    var selectFile = function () {
        $("#file").click();
    }

    var vid = $('#videoplayer');

    setTimeout(function() {
        angular.element($('#videoplayer')).scope().startPlayLoop();
     }, 3000);

    var videoEl =  document.getElementById('videoplayer');

    videoEl.addEventListener('ended', handleEnd,false);
    videoEl.addEventListener('click',function(){

        console.log("i am playing");
        videoEl.play();
        console.log(videoEl);
    },false);

    function handleEnd(e) {
        if(!e) { e = window.event; }

        angular.element(vid).scope().onComplete();
    }
</script>


<div ng-controller="HomeCtrl as controller">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-push-3 col-md-8 col-md-push-3">
                <div id="videowrapper">
    <!--            <div class="videogular-container">-->
                    <video muted id="videoplayer">
                        <source src="" id="tv_main_channel"></source>
                        Your browser doesn't support html video.
                    </video>
                </div>
    <!--            <div class="videogular-container">
                    <videogular vg-responsive="controller.config.responsive" vg-stretch="controler.config.stretch" vg-auto-play="controller.config.autoPlay" vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()">
                        <vg-media id="videogular-media" vg-volume="controller.config.volume" vg-loop="controller.config.loop" vg-src="controller.config.sources" vg-tracks="controller.config.tracks"></vg-media>
                        <vg-buffering></vg-buffering>
                    </videogular>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4" style="margin-bottom:20px;margin-left:35px">
                <p id="videometa" style="display:none">Video loaded by <span id="user"></span> from <span id="location"></span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-5 col-md-push-5">
                <p id="progress" style="height:40px"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-push-3 col-sm-push-4 col-md-6 col-md-push-3" style="margin-left:15px">
                <button type="button" class="uploadButton" data-toggle="modal" data-target="#uploadModal"><img src="img/upload_button_last.png"></button>
            </div>
        </div>
    </div>

    <div ng-controller="FormCtrl as formctrl">
        <div class="custom-layer-messages">
            <div class="row">
                <div ng-if="uploadSuccess || uploadError">
                    <script type="text/javascript">
                        window.setTimeout(function () {
                            if (angular.element($('.alert')).scope().uploadSuccess == true) {
                                $(".alert-success").fadeTo(500, 500).slideUp(500, function () {
                                    $(".alert-success").alert('close');
                                });
                            } else {
                                $(".alert-danger").fadeTo(500, 500).slideUp(500, function () {
                                    $(".alert-danger").alert('close');
                                });
                            }
                        }, 2000);
                    </script>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" ng-show="uploadSuccess">
                        <button type="button" class="close"><strong>Done!</strong> {{succmsg}}</button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="uploadError">
                        <button type="button" class="close"><strong>Error!</strong> {{errmsg}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="uploadModalLabel">Upload your video</h4>
                    </div>
                    <form name="uploadForm" class="form">
                        <div class="modal-body">
                            <div class="form-group" style="margin-bottom: 5px" ng-class="{ 'has-error' : uploadForm.username.$invalid && !uploadForm.username.$pristine }">
                                <label style="font-size:14px">Who are you</label>
                                <input type="text" name="username" class="form-control" ng-model="user_name" ng-minlength="3" ng-maxlength="50" placeholder="Name Surname" required>
                                <p ng-show="uploadForm.username.$invalid && !uploadForm.username.$pristine" class="help-block">You name is required.</p>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px">
                                <label style="font-size:14px">Where are you from</label>
                                <input type="text" name="userlocation" class="form-control" ng-model="user_location" ng-minlength="2" ng-maxlength="100" placeholder="L'Aquila, Abruzzo, Italia" ng-class="{ 'has-error' : uploadForm.userlocation.$error.minlength && !uploadForm.userlocation.$error.maxlength }" required>
                                <p ng-show="uploadForm.userlocation.$error.minlength" class="help-block">Location is too short.</p>
                                <p ng-show="uploadForm.userlocation.$error.maxlength" class="help-block">Location is too long.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-xs-12">
                                    <div class="input-group"><span class="input-group-btn"><span class="btn btn-primary btn-file" onclick="selectFile()">Browse&hellip;</span></span>
                                        <input id="fileInputText" ng-model="selectedFileName" type="text" class="form-control" readonly="readonly" required>
                                    </div>
                                </div>
                            </div><span></span>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="btn-group">
                                        <button id="startUpload" type="submit" class="btn btn-success" ng-click="uploadedFile()" ng-disabled="uploadForm.$invalid" data-dismiss="modal">Upload</button>
                                        <input type="file" style="display:none" id="file" name="file" onchange="angular.element(this).scope().fileNameChanged(this)">
                                        <button id="cancelUpload" type="button" class="btn btn-warning" ng-click="clearForm()">Cancel</button>
                                        <button type="button" class="btn btn-default" ng-click="clearForm()" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
