
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>


<div class="container">
    <div class="content">
        <br />
        <br />
        <p class="contactheading">Image Gallery</p>
        <div id="rg-gallery" class="rg-gallery">
            <div class="rg-thumbs">
                <!-- Elastislide Carousel Thumbnail Viewer -->
                <div class="es-carousel-wrapper">
                    <div class="es-nav">
                        <span class="es-nav-prev">Previous</span>
                        <span class="es-nav-next">Next</span>
                    </div>
                    <div class="es-carousel">
                        <ul>
                            <li><a href="#"><img src="img/thumbs/1.jpg" data-large="img/large/1.jpg" alt="image01" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/2.jpg" data-large="img/large/2.jpg" alt="image02" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/3.jpg" data-large="img/large/3.jpg" alt="image03" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/4.jpg" data-large="img/large/4.jpg" alt="image04" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/5.jpg" data-large="img/large/5.jpg" alt="image05" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/6.jpg" data-large="img/large/6.jpg" alt="image06" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/7.jpg" data-large="img/large/7.jpg" alt="image07" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/8.jpg" data-large="img/large/8.jpg" alt="image08" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/9.jpg" data-large="img/large/9.jpg" alt="image09" data-description="" /></a></li>
                            <li><a href="#"><img src="img/thumbs/10.jpg" data-large="img/large/10.jpg" alt="image10" data-description="" /></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Elastislide Carousel Thumbnail Viewer -->
            </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
    </div><!-- content -->
</div><!-- container -->
