<h1  style="color:white;">BinaryJS File Upload and Streaming</h1>

<!--<section id="main">-->
<section id="main">
    <fieldset>
        <legend  style="color:white;">Drag n Drop</legend>
        <aside id="uploadbox">
            <article id="progress">Drop file here</article>
        </aside>
    </fieldset>
   
    <fieldset>
        <legend>Select a Link</legend>

        <nav id="list" class="left"></nav>
    </fieldset>

    <fieldset>
        <legend>Play the Video</legend>

        <section class="left">
            <video id="video"></video>
        </section>
    </fieldset>
</section>