html {

/*
   width: 100%;
    min-width: 100%;
   height: auto;
*/

    background-color: black;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


body{
    position: relative;
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: 0; 
    padding: 0; 
    border: 0;
    overflow: visible;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.videogular-container {
    position: absolute;
    margin-left: 0;
    width: 100%;
    min-width: 100%;
    display: inline;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}


.project-container {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    
    display: inline;
    height: auto;
/*    background-color: rgba(0,0,0,0.5);*/
}

.custom-layer {
    width: auto;
    position: fixed;
    left: 50%;
    top:40%;
    background-color: transparent;
    z-index: 50;
}

.loginform {
     position: fixed;
    width:200px;
    height: auto;
    left:40% !important;
    top:30% !important;
    overflow: scroll !important;
    background-color: black;
}
.custom-layer-messages {
     position: fixed;
    
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    top:75%;
    background-color: transparent;
    z-index: 50;
}

#uploadModal{
    width:100%;
    height: auto;
    top:30% !important;
    overflow: scroll !important;
}

.btn-file {
  position: relative;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
} 

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}

#upload-file-container {
    background: url(/img/circle_orange.png) no-repeat;
}

#upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
    text-align: center;
    color: beige;
}

.uploadButton {
    background:url(/img/circle_orange.png) no-repeat;
    cursor:pointer;
    width: 80px;
    height: 80px;
    border: none;
    color:white;
    padding-bottom: 5px;
}



/************************************************************
                        Navigation Bar
*************************************************************/

.navbar-header #brand {
    font-family: 'Georgia', Arial, sans-serif;
    color: white;
    font-size: 16pt;
    margin-top: 10px;
/*    margin-left: 20px;*/
    text-transform: uppercase;
}

.navbar-props {
    margin: 0px !important;
    background-color: black;
}

.icon-bar {
    background-color: white !important;
}
  
.mynav li {
       font-family: 'Georgia', Arial, sans-serif;
       font-size: 12pt;
       list-style: none;
        display: inline-block;
       /*  border-left: 1px solid white; */
        /*padding-top: 16px;*/
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 10px;
}

.mynav li a{
    color:white;
}

.mynav li a:hover, 
.mynav li a:link, 
.mynav li a:visited,
.mynav li a:active 
{
    text-decoration: none;
    background-color: black;
}


/**********************************
    Mgmt page
**********************************/

.mgmt-block {
    position: absolute;
    margin-left: 0;
    width: 100%;
    min-width: 100%;
    display: inline;
    height: auto;
}


/********************************/
/******** Text Queries **********/
/********************************/

/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
  p {
    font-size: 14px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
    p {
    font-size: 12px;  
  }
}