html {

/*
   width: 100%;
    min-width: 100%;
   height: auto;
*/

    background-color: black;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


body{
position: relative;
   width: 100%;
    min-width: 100%;
   height: auto;
   margin: 0; 
    padding: 0; 
    border: 0;
    overflow: visible;
    
/*    margin: 0; */
/*    padding-top: 60px; */
/*    border: 0;*/
    
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
/*

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/


.videogular-container {
 position: absolute;
/*    padding-top: 60px;*/
/*    top: 60px;*/
    margin-left: 0;
    width: 100%;
    min-width: 100%;
    display: inline;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.custom-layer {
/*    width: 300px;*/
/*    height: 200px;*/
/*    min-width: 20%;*/
    position: fixed;
    left: 50%;
    top:60%;
    background-color: transparent;
    z-index: 50;
}
#uploadModal{
    width:100%;
    height: auto;
/*    top: calc(50% - 150px) !important;*/
    top:30% !important;
    overflow: scroll !important;
}
/*

.custom-layer img {
    width: 150px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 0.5;
}
*/

.btn-file {
  position: relative;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
} 

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}

#upload-file-container {
   background: url(/img/circle_orange.png) no-repeat;
}

#upload-file-container input {
   filter: alpha(opacity=0);
   opacity: 0;
    text-align: center;
    color: beige;
}

.uploadButton {
    background:url(/img/circle_orange.png) no-repeat;
    cursor:pointer;
    width: 80px;
    height: 80px;
    border: none;
    color:white;
    padding-bottom: 5px;
}



   /***************************************************************************
                        Navigation Bar
    ****************************************************************************/

/*

.navbar {
    background-color: black;
    
}
*/


    .navbar-header #brand{
        font-family: 'Georgia', Arial, sans-serif;
        color: white;
        font-size: 16pt;
        margin-top: 10px;
        margin-left: 20px;
        text-transform: uppercase;
    }

.navbar-props {
    margin: 0px !important;
    background-color: black;
}
   .mynav li 
   {
       font-family: 'Georgia', Arial, sans-serif;
       font-size: 12pt;
       list-style: none;
        display: inline-block;
       /*  border-left: 1px solid white; */
        /*padding-top: 16px;*/
        padding-left: 5px;
        padding-right: 10px;
        margin-top: 10px;
   }

    .mynav li a{
        color:white;
    }

    .mynav li a:hover, 
    .mynav li a:link, 
    .mynav li a:visited,
    .mynav li a:active {
        text-decoration: none;
        background-color: black;
    }


/**********************************
    Mgmt page
**********************************/

.mgmt-block {
    background-color:black;
	width: 100%;
    height: auto;
    min-height: 100%;
/*    margin:70px auto auto auto;*/

    z-index: 60;
}