

@font-face {
    font-family: 'Avenir-Book';
    src: url('fonts/Avenir/Avenir-Book.ttf');
}

html {
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Avenir-Black';
    position: relative;
    width: 100%;
    min-width: 100%;
    height: auto;
    margin: 0; 
    padding: 0; 
    border: 0;
    overflow: visible;
    background-color:antiquewhite !important;
/*        background-color: rgba(0,0,0,0.5);*/
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}


.project-container {
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    
    display: inline;
    height: auto;
/*    background-color: rgba(0,0,0,0.5);*/
}

.custom-layer {
    width: auto;
    position: fixed;
    left: 50%;
    top:50%;
    background-color: transparent;
    z-index: 50;
}

.loginform {
     position: fixed;
    width:200px;
    height: auto;
    left:40% !important;
    top:30% !important;
    overflow: scroll !important;
    background-color: transparent;
}
.custom-layer-messages {
    position: fixed;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    top:75%;
    background-color: transparent;
    z-index: 50;
}

#uploadModal{
    width:100%;
    height: auto;
    top:30% !important;
    overflow: scroll !important;
}

.btn-file {
  position: relative;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: whitesmoke!important;
    cursor: text !important;
}


#upload-file-container {
    background: url(/img/upload_button.png) no-repeat;
}

#upload-file-container input {
    filter: alpha(opacity=0);
    opacity: 0;
    text-align: center;
    color: beige;
}

.uploadButton {
    background:url(/img/upload_button.png) no-repeat;
    cursor:pointer;
    width: 100%;
    height: auto;
    border: none;
/*    color:white;*/
    padding-bottom: 5px;
}




/**********************************
    Mgmt page
**********************************/

.mgmt-block {
    position: absolute;
    margin-left: 0;
    width: 100%;
    min-width: 100%;
    display: inline;
    height: auto;
}



/********************************/
/******** Text Queries **********/
/********************************/

p,.btn,.input,div,span,h4,h3,h2,h1 {
font-family: 'Avenir-Book';
}
/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 16px;  
  }
  h2 {
    font-size: 14px;  
  }
  h3 {
    font-size: 14px;  
  }
  p {
    font-size: 12px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 14px;  
  }
  h2 {
    font-size: 12px;  
  }
  h3 {
    font-size: 12px;  
  }
    p {
    font-size: 12px;  
  }
}