#videoplayer {
    z-index: 5;
}

#videowrapper{
    margin-top:140px;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
/*
    width:auto;
    height:640px;
*/
    text-align: left;
    cursor: none;
    position:relative;
}

#videowrapper:after {
    content: '';
    display: block;
    background: url(/img/lifebehindthewindow_cornice_320x640_1.png) no-repeat top left transparent;
    height: 100%;
    width:100%;
    left: 0px;
    top: 0px;
    margin-left:-80px;
    margin-top:-70px;
    position: absolute;
    z-index: 10;
}




/*
.videogular-container {
    margin-top:5%;
    width:501px;
    height:700px;
    cursor: pointer;
    position:relative;
}
.videogular-container:after {
    content: '';
    display: block;
    background-image: url(/img/lifebehindthewindow_cornice.png);
    background-repeat:no-repeat;
    background-position: top left;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
    z-index: 15;
    width:100%;
    height:100%;
    position:absolute;
}
.videogular-container video {
    position: absolute;
        top: 30px; 
    left: 40px;
    z-index: 5;
}
*/




@media (min-width: 1200px) {
    #videowrapper:after{
	     background-size: 540px 870px;
	}

    #videowrapper{
		width: 510px;
		height: 880px;
        background-size: 540px 870px;
        margin-left: 50px;
	}

    video{
		width: 320px;
		height: 640px;
        margin-top: 75px;
        margin-left: 60px;
	}
} 

@media (min-width: 992px) and (max-width: 1199px) {
	#videowrapper:after{
        background-size: 540px 870px;
	}

    #videowrapper{
		width: 510px;
		height: 880px;
        background-size: 540px 870px;
        margin-left: 50px;
	}

    video{
		width: 320px;
		height: 640px;
        margin-top: 75px;
        margin-left: 60px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
    #videowrapper:after{
        background-size: 540px 870px;
	}
    
    #videowrapper{
		width: 510px;
		height: 880px;
        background-size: 540px 870px;
        margin-left: 50px;
	}

    video{
		width: 320px;
		height: 640px;
        margin-top: 75px;
        margin-left: 60px;
	}
}

@media  (min-width: 500px) and (max-width: 767px) {
    #videowrapper:after{
        background-size: 540px 870px;
	}

    #videowrapper{
		width: 510px;
		height: 880px;
        background-size: 540px 870px;
	}

    video{
		width: 320px;
		height: 640px;
        margin-top: 75px;
        margin-left: 60px;
    }
}


@media  (max-width: 499px) {
    #videowrapper:after{
        background-size: 330px 600px;
	}

    #videowrapper{
		width: 330px;
/*		height: 700px;*/
        background-size: 350px 600px;
	}

    video{
		width: 220px;
		height: 640px;
	}
}

