#videoplayer {
    z-index: 5;
}

#videowrapper{
    margin-top:100px;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
/*
    width:auto;
    height:640px;
*/
    text-align: left;
    cursor: none;
    position:relative;
}

#videowrapper:after {
    content: '';
    display: block;
    background: url(/img/lifebehindthewindow_cornice_320x640_1.png) no-repeat top left transparent;
    height: 100%;
    width:100%;
    left: 0px;
    top: 0px;
    margin-left:-80px;
    margin-top:-70px;
    position: absolute;
    z-index: 10;
}




/*
.videogular-container {
    margin-top:5%;
    width:501px;
    height:700px;
    cursor: pointer;
    position:relative;
}
.videogular-container:after {
    content: '';
    display: block;
    background-image: url(/img/lifebehindthewindow_cornice.png);
    background-repeat:no-repeat;
    background-position: top left;
    -webkit-background-size: contain; 
    -moz-background-size: contain; 
    -o-background-size: contain; 
    background-size: contain;
    z-index: 15;
    width:100%;
    height:100%;
    position:absolute;
}
.videogular-container video {
    position: absolute;
        top: 30px; 
    left: 40px;
    z-index: 5;
}
*/

@media  (min-width: 500px)  {
    #videowrapper:after{
           background-size: 500px 690px;
	}

    #videowrapper{
        width: 500px;
		height: 770px;
        margin-left: 30px;
	}

    #videoplayer{
		width: 240px;
		height: 480px;
         margin-top 63px
        margin-left:50px;
    }
}


@media  (max-width: 499px) {
    #videowrapper:after{
        background-size: 380px 550px;
        margin-left: 0px;
	}

    #videowrapper{
		width: 380px;
		height: 540px;
/*        margin-left:-20px;*/
	}

    #videoplayer{
		width: 200px;
		height:340px;
        margin-top: 56px;
        margin-left: 88px;
	}
}

